{
  "branches": [
    "master"
  ],
  "plugins": [
    "@semantic-release/commit-analyzer",
    "@semantic-release/release-notes-generator",
    [
      "@semantic-release/changelog",
      {
        "changelogFile": "CHANGELOG.md"
      }
    ],
    [
      "@google/semantic-release-replace-plugin",
      {
        "replacements": [
          {
            "files": [
              "package.json",
              "client/package.json"
            ],
            "from": "\"version\": \".*?\"",
            "to": "\"version\": \"${nextRelease.version}\"",
            "countMatches": true
          }
        ]
      }
    ],
    [
      "@semantic-release/git",
      {
        "assets": [
          "./CHANGELOG.md",
          "./package.json"
        ]
      }
    ]
  ]
}